Repository opentoucan/kobot, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/build

.github/labeler.yaml:

---
# Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/build:
  - changed-files:
      - any-glob-to-any-file:
        - "build.gradle.kts"
        - "Dockerfile"
        - "src/**"

Fixes to appease the linter (#59)
  detekt.yaml
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/KotlinSpringBotApplication.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/SchemaUpdater.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/audio/AudioPlayerSendHandler.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/audio/GuildMusicManager.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/audio/TrackScheduler.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/ClearBotMessagesCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/HelpCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/WordCountCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/administrators/AddRoleCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/administrators/AdminPingCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/administrators/ListAdminCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/administrators/RemoveRoleCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/memes/GetMemeRank.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/moderators/ModeratorsListCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/moderators/PurgeMessagesCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/moderators/SetNickCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/SetVolumeCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/ShowQueueCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/TrackInfoCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/events/integration/MemeRepostIntegrationEventHandler.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/helpers/Embeds.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/guildmessage/CommandGuildMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/guildmessage/MemeGuildMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/guildmessage/PingReplyGuildMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/CommandParameter.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/DiscordCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/Meme.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/SpringGuild.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/objects/DiscordObject.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/MemeService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/SpringGuildService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/admin/AdministratorService.kt
  src/test/kotlin/uk/me/danielharman/kotlinspringbot/listeners/GuildMessageListenerTest.kt
Labels: area/build

ci: use git tags for releases instead of the release branch
  .github/workflows/ci.yaml
Labels: area/github

ci: use git tags for releases instead of the release branch
  .github/workflows/ci.yaml
Labels: area/github

chore: remove detekt.sarif
  .gitignore
  detekt.sarif
Labels: none

chore: remove detekt.sarif
  .gitignore
  detekt.sarif
Labels: none

ci: use latest major github actions only pin minor or patch if there are issues
  .github/workflows/ci.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/github

ci: use latest major github actions only pin minor or patch if there are issues
  .github/workflows/ci.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/github

ci: generate sarif report
  .github/workflows/ci.yaml
Labels: area/github

ci: generate sarif report
  .github/workflows/ci.yaml
Labels: area/github

fix: check if author is a bot and the message has attachments
  detekt.yaml
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/guildmessage/MemeGuildMessageListener.kt
Labels: area/build

fix: check if author is a bot and the message has attachments
  detekt.yaml
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/guildmessage/MemeGuildMessageListener.kt
Labels: area/build

chore: add devcontainer for java
  .devcontainer/Dockerfile
  .devcontainer/compose.yaml
  .devcontainer/devcontainer.json
  compose.yaml
Labels: none

chore: add devcontainer for java
  .devcontainer/Dockerfile
  .devcontainer/compose.yaml
  .devcontainer/devcontainer.json
  compose.yaml
Labels: none

chore: add github actions digest pinning to renovate and move config to top level
  .github/workflows/renovate.yaml
  .renovate/groups.json5
  .renovate/labels.json5
  .renovate/semanticCommits.json5
  renovate.json5
Labels: area/github

chore: add github actions digest pinning to renovate and move config to top level
  .github/workflows/renovate.yaml
  .renovate/groups.json5
  .renovate/labels.json5
  .renovate/semanticCommits.json5
  renovate.json5
Labels: area/github

chore: remove renovate workflow and use opentoucan renovate-config base
  .github/workflows/renovate.yaml
  .renovate.json5
  .renovate/groups.json5
  .renovate/labels.json5
  .renovate/semanticCommits.json5
  renovate.json5
Labels: area/github

chore: remove renovate workflow and use opentoucan renovate-config base
  .github/workflows/renovate.yaml
  .renovate.json5
  .renovate/groups.json5
  .renovate/labels.json5
  .renovate/semanticCommits.json5
  renovate.json5
Labels: area/github

chore: rename renovate config file
  .renovaterc.json5
Labels: none

chore: rename renovate config file
  .renovaterc.json5
Labels: none

fix: typo in .renovaterc.json5
  .renovaterc.json5
Labels: none

fix: typo in .renovaterc.json5
  .renovaterc.json5
Labels: none

chore: update .renovaterc.json5 with gradle manager
  .renovaterc.json5
Labels: none

chore: update .renovaterc.json5 with gradle manager
  .renovaterc.json5
Labels: none

chore: update renovate manager for java
  .renovaterc.json5
Labels: none

chore: update renovate manager for java
  .renovaterc.json5
Labels: none

chore: no more java version in renovate
  .renovaterc.json5
Labels: none

chore: no more java version in renovate
  .renovaterc.json5
Labels: none

ci: docker bake with multi-platform support and SBOM attestations
  .github/actions/image-versions/action.yaml
  .github/workflows/ci.yaml
  docker-bake.hcl
Labels: area/github

ci: docker bake with multi-platform support and SBOM attestations
  .github/actions/image-versions/action.yaml
  .github/workflows/ci.yaml
  docker-bake.hcl
Labels: area/github

ci: fix bake file path from metadata action
  .github/workflows/ci.yaml
Labels: area/github

ci: fix bake file path from metadata action
  .github/workflows/ci.yaml
Labels: area/github

ci: fix bake file comma
  docker-bake.hcl
Labels: none

ci: fix bake file comma
  docker-bake.hcl
Labels: none

ci: use export type as image
  .github/workflows/ci.yaml
  docker-bake.hcl
Labels: area/github

ci: use export type as image
  .github/workflows/ci.yaml
  docker-bake.hcl
Labels: area/github

ci: arm might not like slim jdk images
  Dockerfile
Labels: area/build

ci: arm might not like slim jdk images
  Dockerfile
Labels: area/build

ci: use arm runners instead of slow buildx using qemu for arm
  .github/workflows/ci.yaml
  Dockerfile
Labels: area/github, area/build

ci: use arm runners instead of slow buildx using qemu for arm
  .github/workflows/ci.yaml
  Dockerfile
Labels: area/github, area/build

ci: output the bake options before exiting early...
  .github/workflows/ci.yaml
Labels: area/github
