Repository opentoucan/kobot, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/build

.github/labeler.yaml:

---
# Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/build:
  - changed-files:
      - any-glob-to-any-file:
        - "build.gradle.kts"
        - "Dockerfile"
        - "src/**"

ci: update workflows to run on main and release branches
  .github/workflows/build-docker.yml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/github

ci: update workflows to run on main and release branches
  .github/workflows/build-docker.yml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/github

Switch out jodatime for Java.Time.LocalDateTime
  build.gradle.kts
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/SchemaUpdater.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/SetupService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/administrators/BotInfoCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/TrackInfoCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/helpers/Embeds.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/helpers/Extensions.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/DiscordCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/Meme.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/SpringGuild.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/XkcdComic.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/audit/AuditItem.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/objects/ApplicationInfo.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/objects/DiscordObject.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/repositories/AuditRepository.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/DiscordService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/MemeService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/admin/AdministratorService.kt
Labels: area/build

Switch out jodatime for Java.Time.LocalDateTime (#29)
  build.gradle.kts
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/SchemaUpdater.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/SetupService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/administrators/BotInfoCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/TrackInfoCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/helpers/Embeds.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/helpers/Extensions.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/DiscordCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/Meme.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/SpringGuild.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/XkcdComic.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/audit/AuditItem.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/objects/ApplicationInfo.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/objects/DiscordObject.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/repositories/AuditRepository.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/DiscordService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/MemeService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/admin/AdministratorService.kt
Labels: area/build

Switch out jodatime for Java.Time.LocalDateTime (#29)
  build.gradle.kts
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/SchemaUpdater.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/SetupService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/administrators/BotInfoCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/TrackInfoCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/helpers/Embeds.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/helpers/Extensions.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/DiscordCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/Meme.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/SpringGuild.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/XkcdComic.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/audit/AuditItem.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/objects/ApplicationInfo.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/objects/DiscordObject.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/repositories/AuditRepository.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/DiscordService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/MemeService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/admin/AdministratorService.kt
Labels: area/build

merge main into release (#30)
  .github/workflows/build-docker.yml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
  build.gradle.kts
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/SchemaUpdater.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/SetupService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/administrators/BotInfoCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/TrackInfoCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/helpers/Embeds.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/helpers/Extensions.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/DiscordCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/Meme.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/SpringGuild.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/XkcdComic.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/audit/AuditItem.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/objects/ApplicationInfo.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/objects/DiscordObject.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/repositories/AuditRepository.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/DiscordService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/MemeService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/admin/AdministratorService.kt
Labels: area/github, area/build

merge main into release (#30)
  .github/workflows/build-docker.yml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
  build.gradle.kts
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/SchemaUpdater.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/SetupService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/administrators/BotInfoCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/TrackInfoCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/helpers/Embeds.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/helpers/Extensions.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/DiscordCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/Meme.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/SpringGuild.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/XkcdComic.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/audit/AuditItem.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/objects/ApplicationInfo.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/objects/DiscordObject.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/repositories/AuditRepository.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/DiscordService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/MemeService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/admin/AdministratorService.kt
Labels: area/github, area/build

chore: add groups to renovate
  .github/renovate.json5
  .github/renovate/groups.json5
Labels: area/github

chore: add groups to renovate
  .github/renovate.json5
  .github/renovate/groups.json5
Labels: area/github

feat!: meme reposting functionality with rabbitmq
  build.gradle.kts
  docker-compose.yml
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/events/integration/MemePostedIntegrationEvent.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/events/integration/MemePostedIntegrationEventPublisher.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/events/integration/MemeRepostIntegrationEvent.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/events/integration/MemeRepostIntegrationEventHandler.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/GuildMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/DiscordChannelMessage.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/DiscordService.kt
  src/main/resources/application.properties
Labels: area/build

feat!: meme reposting functionality with rabbitmq
  build.gradle.kts
  docker-compose.yml
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/events/integration/MemePostedIntegrationEvent.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/events/integration/MemePostedIntegrationEventPublisher.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/events/integration/MemeRepostIntegrationEvent.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/events/integration/MemeRepostIntegrationEventHandler.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/GuildMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/DiscordChannelMessage.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/DiscordService.kt
  src/main/resources/application.properties
Labels: area/build

feat: added all reposts to the reply message
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/events/integration/MemeRepostIntegrationEventHandler.kt
Labels: area/build

feat: added all reposts to the reply message
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/events/integration/MemeRepostIntegrationEventHandler.kt
Labels: area/build

fix: removed duplicate entry
  build.gradle.kts
Labels: area/build

fix: removed duplicate entry
  build.gradle.kts
Labels: area/build

feat: feature flagging and moved guild listeners into separate classes
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/KotlinSpringBotApplication.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/SetupService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/ClearBotMessagesCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/HelpCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/moderators/ListModeratorCommandsCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/moderators/ModeratorsListCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/PlayMusicCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/events/integration/MemeRepostIntegrationEventHandler.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/DirectMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/GuildMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/guildmessage/CommandGuildMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/guildmessage/GuildMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/guildmessage/MemeGuildMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/guildmessage/PingReplyGuildMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/objects/DiscordObject.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/properties/FeatureProperties.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/properties/KotlinBotProperties.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/DiscordService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/SpringGuildService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/admin/AdministratorService.kt
  src/main/resources/application.properties
  src/test/kotlin/uk/me/danielharman/kotlinspringbot/command/PingCommandTest.kt
  src/test/kotlin/uk/me/danielharman/kotlinspringbot/listeners/GuildMessageListenerTest.kt
  src/test/kotlin/uk/me/danielharman/kotlinspringbot/services/admin/AdministratorServiceTest.kt
Labels: area/build

feat: feature flagging and moved guild listeners into separate classes (#51)
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/KotlinSpringBotApplication.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/SetupService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/ClearBotMessagesCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/HelpCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/moderators/ListModeratorCommandsCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/moderators/ModeratorsListCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/PlayMusicCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/events/integration/MemeRepostIntegrationEventHandler.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/DirectMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/GuildMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/guildmessage/CommandGuildMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/guildmessage/GuildMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/guildmessage/MemeGuildMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/guildmessage/PingReplyGuildMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/objects/DiscordObject.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/properties/FeatureProperties.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/properties/KotlinBotProperties.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/DiscordService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/SpringGuildService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/admin/AdministratorService.kt
  src/main/resources/application.properties
  src/test/kotlin/uk/me/danielharman/kotlinspringbot/command/PingCommandTest.kt
  src/test/kotlin/uk/me/danielharman/kotlinspringbot/listeners/GuildMessageListenerTest.kt
  src/test/kotlin/uk/me/danielharman/kotlinspringbot/services/admin/AdministratorServiceTest.kt
Labels: area/build

feat: feature flagging and moved guild listeners into separate classes (#51)
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/KotlinSpringBotApplication.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/SetupService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/ClearBotMessagesCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/HelpCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/moderators/ListModeratorCommandsCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/moderators/ModeratorsListCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/PlayMusicCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/events/integration/MemeRepostIntegrationEventHandler.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/DirectMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/GuildMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/guildmessage/CommandGuildMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/guildmessage/GuildMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/guildmessage/MemeGuildMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/guildmessage/PingReplyGuildMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/objects/DiscordObject.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/properties/FeatureProperties.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/properties/KotlinBotProperties.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/DiscordService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/SpringGuildService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/admin/AdministratorService.kt
  src/main/resources/application.properties
  src/test/kotlin/uk/me/danielharman/kotlinspringbot/command/PingCommandTest.kt
  src/test/kotlin/uk/me/danielharman/kotlinspringbot/listeners/GuildMessageListenerTest.kt
  src/test/kotlin/uk/me/danielharman/kotlinspringbot/services/admin/AdministratorServiceTest.kt
Labels: area/build

ci: use workspace for ktfmt path
  .github/workflows/build-docker.yml
Labels: area/github

ci: rename ci workflow
  .github/workflows/ci.yml
Labels: area/github

ci: add test step
  .github/workflows/ci.yml
Labels: area/github

ci: removed exit code flag
  .github/workflows/ci.yaml
Labels: area/github

ci: test run git diff
  .github/workflows/ci.yaml
Labels: area/github

ci: fix brew install multiple packages
  .github/workflows/ci.yaml
Labels: area/github

fix: linting tweaks
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/SchemaUpdater.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/memes/GetMemeRank.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/memes/GetMemesCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/moderators/ModeratorsListCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/PlayMusicCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/SetVolumeCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/events/DiscordChannelMessageEvent.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/events/DiscordSlashCommandEvent.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/helpers/Comparators.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/helpers/Embeds.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/helpers/JDAHelperFunctions.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/DiscordCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/Meme.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/objects/DiscordObject.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/repositories/GuildRepository.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/SpringGuildService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/admin/AdministratorService.kt
Labels: area/build

Add sending of now playing messages and display queued tracks command
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/audio/GuildMusicManager.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/audio/NewAudioResultHandler.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/audio/TrackScheduler.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/WordCountCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/PlayMusicCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/ShowQueueCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/helpers/HelperFunctions.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/provider/GuildMusicPlayerProvider.kt
Labels: area/build

Add sending of now playing messages and display queued tracks command (#55)
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/audio/GuildMusicManager.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/audio/NewAudioResultHandler.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/audio/TrackScheduler.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/WordCountCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/PlayMusicCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/ShowQueueCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/helpers/HelperFunctions.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/provider/GuildMusicPlayerProvider.kt
Labels: area/build

Add sending of now playing messages and display queued tracks command (#55)
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/audio/GuildMusicManager.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/audio/NewAudioResultHandler.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/audio/TrackScheduler.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/WordCountCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/PlayMusicCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/ShowQueueCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/helpers/HelperFunctions.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/provider/GuildMusicPlayerProvider.kt
Labels: area/build

ci: add sarif upload for detekt code report
  .github/workflows/ci.yaml
  detekt.sarif
  detekt.yaml
Labels: area/github

chore: lint changed files from main
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/audio/GuildMusicManager.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/audio/NewAudioResultHandler.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/audio/TrackScheduler.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/WordCountCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/PlayMusicCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/ShowQueueCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/helpers/HelperFunctions.kt
Labels: area/build

ci: use v3 for upload sarif
  .github/workflows/ci.yaml
Labels: area/github

Fixes to appease the linter
  detekt.yaml
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/SchemaUpdater.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/audio/AudioPlayerSendHandler.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/audio/GuildMusicManager.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/audio/TrackScheduler.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/ClearBotMessagesCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/HelpCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/WordCountCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/administrators/AddRoleCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/administrators/AdminPingCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/administrators/ListAdminCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/administrators/RemoveRoleCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/memes/GetMemeRank.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/moderators/ModeratorPingCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/moderators/ModeratorsListCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/moderators/PurgeMessagesCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/moderators/SetNickCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/SetVolumeCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/ShowQueueCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/TrackInfoCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/events/integration/MemeRepostIntegrationEventHandler.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/helpers/Embeds.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/guildmessage/CommandGuildMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/guildmessage/MemeGuildMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/guildmessage/PingReplyGuildMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/CommandParameter.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/DiscordCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/Meme.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/SpringGuild.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/objects/DiscordObject.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/MemeService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/SpringGuildService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/admin/AdministratorService.kt
  src/test/kotlin/uk/me/danielharman/kotlinspringbot/listeners/GuildMessageListenerTest.kt
Labels: area/build

Attempt 2
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/SpringGuildService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/admin/AdministratorService.kt
  src/test/kotlin/uk/me/danielharman/kotlinspringbot/listeners/GuildMessageListenerTest.kt
Labels: area/build

Update PlayMusicCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/PlayMusicCommand.kt
Labels: area/build

APPEASE THE OTHER LINTER
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/audio/TrackScheduler.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/administrators/AdminPingCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/moderators/ModeratorPingCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/moderators/ModeratorsListCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/ShowQueueCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/SpringGuildService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/admin/AdministratorService.kt
Labels: area/build

chore: remove line length restriction from detekt config
  detekt.yaml
Labels: none

chore: remove line length restriction from detekt config
  detekt.yaml
Labels: none

chore: suppress spread operator for detekt in main function
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/KotlinSpringBotApplication.kt
Labels: area/build

chore: fix trailing whitespace
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/KotlinSpringBotApplication.kt
Labels: area/build

Fixes to appease the linter (#59)
  detekt.yaml
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/KotlinSpringBotApplication.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/SchemaUpdater.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/audio/AudioPlayerSendHandler.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/audio/GuildMusicManager.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/audio/TrackScheduler.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/ClearBotMessagesCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/HelpCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/WordCountCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/administrators/AddRoleCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/administrators/AdminPingCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/administrators/ListAdminCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/administrators/RemoveRoleCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/memes/GetMemeRank.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/moderators/ModeratorsListCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/moderators/PurgeMessagesCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/moderators/SetNickCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/SetVolumeCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/ShowQueueCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/TrackInfoCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/events/integration/MemeRepostIntegrationEventHandler.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/helpers/Embeds.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/guildmessage/CommandGuildMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/guildmessage/MemeGuildMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/listeners/guildmessage/PingReplyGuildMessageListener.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/CommandParameter.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/DiscordCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/Meme.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/models/SpringGuild.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/objects/DiscordObject.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/MemeService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/SpringGuildService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/services/admin/AdministratorService.kt
  src/test/kotlin/uk/me/danielharman/kotlinspringbot/listeners/GuildMessageListenerTest.kt
Labels: area/build
