Repository opentoucan/kobot, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/build

.github/labeler.yaml:

---
# Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/build:
  - changed-files:
      - any-glob-to-any-file:
        - "build.gradle.kts"
        - "Dockerfile"
        - "src/**"

ci: fix condition for previous job output
  .github/workflows/ci.yaml
Labels: area/github

ci: fix bad syntax
  .github/workflows/ci.yaml
Labels: area/github

ci: fix bad syntax
  .github/workflows/ci.yaml
Labels: area/github

ci: remove input version from pipeline
  .github/actions/image-versions/action.yaml
  .github/workflows/ci.yaml
Labels: area/github

ci: remove input version from pipeline
  .github/actions/image-versions/action.yaml
  .github/workflows/ci.yaml
Labels: area/github

ci: use original git tag for release to prevent workflow trigger
  .github/workflows/ci.yaml
Labels: area/github

ci: use original git tag for release to prevent workflow trigger
  .github/workflows/ci.yaml
Labels: area/github

ci: add version environment variable to build pipeline for info command
  .github/workflows/ci.yaml
  Dockerfile
Labels: area/github, area/build

ci: add version environment variable to build pipeline for info command
  .github/workflows/ci.yaml
  Dockerfile
Labels: area/github, area/build

fix: persist ARG in multistage builds
  Dockerfile
Labels: area/build

fix: persist ARG in multistage builds
  Dockerfile
Labels: area/build

ci(renovate): fix package matching for groups
  .renovaterc.json5
Labels: none

chore: add devcontainer.env
  .devcontainer/devcontainer.env
Labels: none

chore: use jdk 21
  .devcontainer/compose.yaml
  .devcontainer/devcontainer.json
  Dockerfile
  build.gradle.kts
Labels: area/build

ci: fix docker bake
  .github/actions/bake-options/action.yaml
  .github/actions/image-versions/action.yaml
  .github/workflows/ci.yaml
  docker-bake.hcl
Labels: area/github

chore: new flake just hit the repo
  default.nix
  flake.lock
  flake.nix
Labels: none

ci: nest platform into bake target directly
  .github/actions/bake-images/action.yaml
  .github/actions/bake-options/action.yaml
  .github/workflows/ci.yaml
  docker-bake.hcl
Labels: area/github

ci: do not merge sarif files
  .github/workflows/ci.yaml
Labels: area/github

ci: fix image matrix output
  .github/workflows/ci.yaml
Labels: area/github

ci: tostring escape for matrix
  .github/actions/bake-images/action.yaml
Labels: area/github

ci: run ci changes on pr
  .github/workflows/ci.yaml
Labels: area/github

ci: fix matrix fromjson
  .github/actions/bake-images/action.yaml
  .github/workflows/ci.yaml
Labels: area/github

ci: inline include matrix ref and use wildcard array access
  .github/actions/bake-images/action.yaml
  .github/workflows/ci.yaml
Labels: area/github

ci: move into reusable image builder workflow for every docker image in the bake file
  .github/actions/bake-images/action.yaml
  .github/actions/image-platforms/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/image-builder.yaml
Labels: area/github

Refactor release CI/CD pipeline (#170)
  .github/actions/bake-images/action.yaml
  .github/actions/image-platforms/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/image-builder.yaml
Labels: area/github

ci: simplify bakefile
  .github/actions/bake-images/action.yaml
  .github/actions/image-platforms/action.yaml
  docker-bake.hcl
Labels: area/github

ci: github typing for bols is fun
  .github/workflows/ci.yaml
Labels: area/github

Refactor pipeline 2 (#171)
  .github/actions/bake-images/action.yaml
  .github/actions/image-platforms/action.yaml
  .github/workflows/ci.yaml
  docker-bake.hcl
Labels: area/github

ci: fix digest export
  .github/workflows/image-builder.yaml
Labels: area/github

ci: fix github release
  .github/workflows/ci.yaml
Labels: area/github

ci: fix input version for releases and bake refactor
  .github/actions/bake-images/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/image-builder.yaml
  docker-bake.hcl
Labels: area/github

fix: remove qoomon gradle git versioning
  build.gradle.kts
Labels: area/build

fix: remove qoomon gradle git versioning (#178)
  build.gradle.kts
Labels: area/build

ci: ignore github paths for prs
  .github/workflows/ci.yaml
Labels: area/github

chore: add minimumGroupSize for jetbrains kotlin packages
  .renovaterc.json5
Labels: none

drudgery: Fix bug where skipping the last track would not stop playback. Include a new queue clear command.
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/audio/TrackScheduler.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/ClearQueueCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/ShowQueueCommand.kt
Labels: area/build

errand: set bot version from env variable
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/SetupService.kt
Labels: area/build

Playback queue fix (#196)
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/SetupService.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/audio/TrackScheduler.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/ClearQueueCommand.kt
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/command/voice/ShowQueueCommand.kt
Labels: area/build

use the correct env variable for setting bot version
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/SetupService.kt
Labels: area/build

use the correct env variable for setting bot version (#197)
  src/main/kotlin/uk/me/danielharman/kotlinspringbot/SetupService.kt
Labels: area/build
